First you need to install the GNU Scientific Library (GSL).
You can obtain this from
   http://www.gnu.org/software/gsl/
At the time of writing, the current version is
   gsl-1.15.tar.gz

Unpack GSL:
   tar -zxvf gsl-1.15

Choose where you want to install GSL. In these instructions we will
use
   $HOME/gsl
Change to the gsl source directory and configure for installation in
your selected directory:
   cd gsl-1.15
   ./configure --prefix=$HOME/gsl

Now compile and install it:
   make
   make install

Having configured and installed GSL, you can now proceed to compile
the fisher program.

If you have selected somewhere other than $HOME/gsl then edit the
Makefile in this directory and change the lines
   GSL=$(HOME)/gsl
to reflect the place you have installed GSL

You should now simply be able to type
   make
in this directory to build the fisher program

